
body {
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

footer {
    padding: 1em 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: absolute;
}

#bodyId {
    & footer {
        position: relative;
    }
}

#search {
    border-radius: 20px;
}

#password {
    border-radius: 20px;
}

#loginButton {
    border-radius: 20px;
}




